In [1]:
import numpy as np

#check version
np.__version__

'1.26.4'

In [2]:
# a vector: the argument to the array function is a Python list
# more generally, 1D array
lst = [1, 2, 3,4,0]
v = np.array(lst, dtype=np.int32)
v

array([1, 2, 3, 4, 0], dtype=int32)

In [3]:
np.array([1,2,3,4], dtype=np.int32)

array([1, 2, 3, 4], dtype=int32)

In [4]:

# a matrix: the argument to the array function is a nested Python list (can also be a tuple of tuples)
# more generally, a 2D array
list_of_lists = [[1,2],[3,4]]
M = np.array(list_of_lists)
M

array([[1, 2],
       [3, 4]])

In [5]:
# a row vector

row_vec = v[np.newaxis,:] # v[None,:]
row_vec

array([[1, 2, 3, 4, 0]], dtype=int32)

In [6]:
np.array([[1,2,3,4]], dtype=np.int32)

array([[1, 2, 3, 4]], dtype=int32)

In [7]:
# a column vector
col_vec = v[:, np.newaxis] #v[:, None]
col_vec

array([[1],
       [2],
       [3],
       [4],
       [0]], dtype=int32)

In [8]:
np.array([[1],[2],[3],[4]], dtype=np.int32)

array([[1],
       [2],
       [3],
       [4]], dtype=int32)

In [9]:
# when using linspace, both end points are included
'''return evenly spaced numbers over a specified interval.

    Returns num evenly spaced samples, calculated over the interval [start, stop].

    The endpoint of the interval can optionally be excluded.'''
np.linspace(0, 10)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [10]:
''' np.logspace(start, stop, num=50, endpoint=True, base=10.0(algorithm), dtype=None, axis=0)'''
np.logspace(0, 5, 10, base=np.e)

array([  1.        ,   1.742909  ,   3.03773178,   5.29449005,
         9.22781435,  16.08324067,  28.03162489,  48.85657127,
        85.15255772, 148.4131591 ])

In [11]:
# a 3D array
# a random array where the values come from a standard normal distribution
'''random.randn(d0, d1, ..., dn)'''
gaussian = np.random.randn(2*3*4)

#resahpe the array to desitred shape
# only the number of dimensions can be altered
#the number of elements cannot be changed during a reshape operation

gaussian = gaussian.reshape((2,3,4))
gaussian

array([[[ 1.53986184, -0.48878273,  1.11345127, -1.50519588],
        [-0.54644664, -0.75331251, -0.20434658, -1.80276446],
        [ 0.53006313, -0.5989934 ,  2.09247092,  1.81817619]],

       [[ 1.46130335,  0.41526497,  1.0321618 , -2.37938836],
        [-1.00847719, -0.20617241, -2.47103202, -1.54110712],
        [-0.01054263,  0.45790484, -1.18831032, -0.76457126]]])

In [12]:
# an array full of zero values
# one can also specify a desired datatype

'''np.zeros(shape, dtype=float, order='C')'''
zero_arr = np.zeros((3,4))
zero_arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [13]:
# an array full of ones
# one can also specify datatype

ones_arr = np.ones((3,4), dtype=np.float32)
ones_arr

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]], dtype=float32)

In [14]:
# a 3*3 identity (matrix) array
# An identity matrix is a square matrix where all the diagonal elements are 1, and all other elements are 0.
'''np.eye(N, M=None, k=0, dtype=<class 'float'>, order='C')'''
iden = np.identity(3, dtype= np.float128)
iden

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float128)

In [15]:
# a diagonal array

diag = np.diag([1,2,3,4.0])
diag

array([[1., 0., 0., 0.],
       [0., 2., 0., 0.],
       [0., 0., 3., 0.],
       [0., 0., 0., 4.]])

In [16]:
# a 3D random array where the values come from a standard Normal distribution
#2*3*4 is evaluated as 24, meaning np.random.randn(24) generates 24 random values.
gaussian = np.random.randn(2*3*4).reshape((2,3,4))
print(gaussian)

[[[ 1.05873242 -0.05698184  0.36722697 -0.18361766]
  [-0.16806011 -1.20183193  0.46903712  1.52526064]
  [-0.25961359  0.37369093 -1.51854036  0.17902549]]

 [[ 1.23044837 -2.52729957 -0.97140032  0.52997614]
  [-0.19785715 -1.37428086  1.17873886  0.42469104]
  [ 0.06992455  1.35450857 -0.53613236 -1.0843244 ]]]

In [17]:
# get number fo dimensions fo the array
gaussian.ndim
print("total dimensions of the array is : ", gaussian.ndim)

#get the shape of the array
gaussian.shape
print("shape of the array is : ", gaussian.shape)

#get the total number of elements in array
gaussian.size
print("total number of items is: ", gaussian.size)

# get memory consumed by each item in the array
gaussian.itemsize
print("memory consumed by each item is : ", gaussian.itemsize)

#get memory consumed by the array
gaussian.nbytes
print("memory consumed by the whole array is : ", gaussian.nbytes)

total dimensions of the array is :  3
shape of the array is :  (2, 3, 4)
total number of items is:  24
memory consumed by each item is :  8
memory consumed by the whole array is :  192


**Array Indexing**

We can index elements in an array using square brackets and indices. For 1D arrays, indexing works the same as with Python list.

In [18]:
# 1D array of random integers
# get 10 integers from 0 to 22

num_samples = 10
integers = np.random.randint(23, size=num_samples)
integers

array([ 3,  6, 10,  0,  6,  0, 13,  4,  5, 11])

In [19]:
# indexing 1D array needs only one index
# get 3rd element (remember: NumPy unlike MATLAB is 0 based indexing)
integers[2]

10

In [20]:
# The reshape(3, -1) function reshapes the 1D array into a 2D array with 3 rows. The -1 means that NumPy will automatically determine the correct number of columns
#based on the total number of elements (45 in this case).
twoD_arr= np.arange(1,46).reshape(3, -1)
twoD_arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]])

In [21]:
# indexing 2D array needs only two indices.
# then it returns a scalar value

# value at last row and last column
twoD_arr[-1,-1]

45

In [22]:
# howevthe  if we use only one (valid) index then it returns a 1D array

# get all elments in the last row
twoD_arr[-1]  # or twoD_arr[-1, ] or twoD_arr[-1, :]

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [23]:
# remember `gaussian` is a 3D array.
gaussian

array([[[ 1.05873242, -0.05698184,  0.36722697, -0.18361766],
        [-0.16806011, -1.20183193,  0.46903712,  1.52526064],
        [-0.25961359,  0.37369093, -1.51854036,  0.17902549]],

       [[ 1.23044837, -2.52729957, -0.97140032,  0.52997614],
        [-0.19785715, -1.37428086,  1.17873886,  0.42469104],
        [ 0.06992455,  1.35450857, -0.53613236, -1.0843244 ]]])

In [24]:
# So, a 2D array is returned when using one index

# return last slice
gaussian[-1]

array([[ 1.23044837, -2.52729957, -0.97140032,  0.52997614],
       [-0.19785715, -1.37428086,  1.17873886,  0.42469104],
       [ 0.06992455,  1.35450857, -0.53613236, -1.0843244 ]])

In [25]:
# a 1D array is returned when using a pair of indices

# return first row from last slice
gaussian[-1,0]

array([ 1.23044837, -2.52729957, -0.97140032,  0.52997614])

In [26]:
# return last row from last slice
gaussian[-1,-1]

array([ 0.06992455,  1.35450857, -0.53613236, -1.0843244 ])

In [27]:
# return last element of row of last slice
idx=(-1,-1,-1)
gaussian[idx]

-1.0843244025254333



We can also assign new values to elements in an array using indexing:

In [28]:
# updating the array by assigning values


# updating the array by assigning values
# truncation will happen if there's a datatype mismatch
# pringt (integers)

integers[2]=99.21
integers

array([ 3,  6, 99,  0,  6,  0, 13,  4,  5, 11])

**Index slicing**

Index slicing is the technical name for the syntax M[lower:upper:step] to extract part of an array. Negative indices counts from the end of the array (positive index from the begining):

In [29]:
integers

array([ 3,  6, 99,  0,  6,  0, 13,  4,  5, 11])

In [30]:
# slice a portion of the array
# similar to Python iterator slicing
# x[start:stop:step]

# get last 5 elements
integers[-5:]

#if `stop` is ommitted then is'll be sliced till the end of the array
# by default, step is 1

array([ 0, 13,  4,  5, 11])

In [31]:


# get alternative elements (every other element) from the array
# equivalently step = 2
integers[::2]

array([ 3, 99,  6, 13,  5])

In [32]:
# reversing the array
integers[::-1]

array([11,  5,  4, 13,  0,  6,  0, 99,  6,  3])

In [33]:
# forward traveersal of array
integers[3::]

array([ 0,  6,  0, 13,  4,  5, 11])

In [34]:
# reverse travesal of array (starting from 4th element)
integers[3::-1]

array([ 0, 99,  6,  3])

Array slices are mutable: if they are assigned a new value the original array from which the slice was extracted is modified:

In [35]:
integers

array([ 3,  6, 99,  0,  6,  0, 13,  4,  5, 11])

In [36]:
# assign new values to the last two elements
integers[-2:]=[-2,-46]
integers

array([  3,   6,  99,   0,   6,   0,  13,   4,  -2, -46])

**nD arrays**

In [37]:
# a 2D array
twenty = (np.arange(4*5)).reshape(4,5)
twenty

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [38]:
# slice first 2 rows and 3 columns
twenty[:2, :3]

array([[0, 1, 2],
       [5, 6, 7]])

In [39]:
# slice and get only the corner elements
# three "jumps" along dimension 0
# four "jumps" along dimension 1
twenty[::3, ::4]

array([[ 0,  4],
       [15, 19]])

In [40]:
# reversing the order of elements along columns (i.e. along dimension 0)
twenty[::-1, ...]

array([[15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4]])

In [41]:
# reversing the order of elements along rows (i.e. along dimension 1)
twenty[..., ::-1]

array([[ 4,  3,  2,  1,  0],
       [ 9,  8,  7,  6,  5],
       [14, 13, 12, 11, 10],
       [19, 18, 17, 16, 15]])

In [42]:


# reversing the rows and columns (i.e. along both dimensions)
twenty[::-1, ::-1]

array([[19, 18, 17, 16, 15],
       [14, 13, 12, 11, 10],
       [ 9,  8,  7,  6,  5],
       [ 4,  3,  2,  1,  0]])

In [43]:
# or more intuitively
np.flip(twenty, axis=(0,1))


# or equivalently
np.flipud(np.fliplr(twenty))
np.fliplr(np.flipud(twenty))

array([[19, 18, 17, 16, 15],
       [14, 13, 12, 11, 10],
       [ 9,  8,  7,  6,  5],
       [ 4,  3,  2,  1,  0]])


**Fancy indexing**

Fancy indexing is the name for when an array or a list is used in-place of an index:

In [44]:
# a 2D array
twenty

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [45]:
# get 2nd, 3rd, and 4th rows
row_indices = [1, 2, 3]
twenty[row_indices]

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [46]:
#In this part, col_indices specifies the columns to be extracted: the 2nd column, the 3rd column, and the last column (using -1 for the last element).
col_indices = [1, 2, -1] # 3rd column and last column
twenty[row_indices, col_indices]

array([ 6, 12, 19])

In [47]:
# mask has to be of the same shape as the array to be indexed; else IndexError would be thrown
# mask for indexing alternate elements in the array
row_mask = np.array([True, False, True, False, True, False, True, False, True, False])

integers[row_mask]

array([ 3, 99,  6, 13, -2])

In [48]:
integers

array([  3,   6,  99,   0,   6,   0,  13,   4,  -2, -46])

In [49]:
# alternatively
row_mask = np.array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0], dtype= np.bool_)
integers[row_mask]

array([ 3, 99,  6, 13, -2])

This feature is very useful to conditionally select elements from an array, using for example comparison operators:

In [50]:


range_arr = np.arange(0, 10, 0.5)
range_arr

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

In [51]:
mask = (range_arr > 5) * (range_arr < 7.5)
mask

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True, False, False, False,
       False, False])

In [52]:
range_arr[mask]

array([5.5, 6. , 6.5, 7. ])

In [53]:
# or equivalently

mask = (5 < range_arr) & (range_arr < 7.5)
range_arr[mask]

array([5.5, 6. , 6.5, 7. ])


Linear operations

Vectorizing the code is key to writing efficient numerical calculation with Python/NumPy. This means that, as much as possible, a program should be formulated in terms of matrix and vector operations, like matrix-matrix multiplication.
Scalar-array operations

We can use the usual arithmetic operators to multiply, add, subtract, and divide arrays with scalar numbers.

In [54]:
vec = np.arange(0, 5)

vec

array([0, 1, 2, 3, 4])

In [55]:
# note that original `vec` still remains unaffected since we haven't assigned the new array to it.
vec * 2

array([0, 2, 4, 6, 8])

In [56]:
vec + 2

array([2, 3, 4, 5, 6])


Element-wise array-array operations

When we add, subtract, multiply, and divide arrays with each other, the default behaviour is element-wise operations:

In [57]:
arr = np.arange(4 * 5).reshape(4, 5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [58]:
np.matmul(arr, (arr.T))

array([[  30,   80,  130,  180],
       [  80,  255,  430,  605],
       [ 130,  430,  730, 1030],
       [ 180,  605, 1030, 1455]])

In [59]:
print(vec.shape, arr.shape)

# shape has to match
vec * arr

(5,) (4, 5)

array([[ 0,  1,  4,  9, 16],
       [ 0,  6, 14, 24, 36],
       [ 0, 11, 24, 39, 56],
       [ 0, 16, 34, 54, 76]])

In [60]:
# else no broadcasting will happen and an error is thrown
print(vec[:, None].shape)

vec[:, None] * arr

(5, 1)

ValueError: operands could not be broadcast together with shapes (5,1) (4,5)

In [ ]:
# however, this would work
vec[:4, None] * arr

**Matrix operations**

What about the glorified matrix mutiplication? There are two ways. We can either use the dot function, which applies a matrix-matrix, matrix-vector, or inner vector multiplication to its two arguments. Or you can use the @ operator in Python 3

In [ ]:
# matrix-matrix product
print(arr.T.shape, arr.shape)
np.dot(arr.T, arr)

In [ ]:
# matrix-vector product
print("shapes: ", arr.shape, vec.shape)
np.dot(arr, vec) #but not thsi: np.dot(vec,arr)

In [61]:
# matrix-vector product
print("shapes: ", arr.shape, vec.shape)
np.dot(arr, vec) #but not this: np.dot(vec, arrr)

shapes:  (4, 5) (5,)

array([ 30,  80, 130, 180])

In [62]:


col_vec = vec[:, None]
print("shapes: ", (col_vec).T.shape, (col_vec).shape)

# inner product
(col_vec.T) @ (col_vec)

shapes:  (1, 5) (5, 1)

array([[30]])


Stacking and repeating arrays

Using function repeat, tile, vstack, hstack, and concatenate we can create larger vectors and matrices from smaller ones:

In [63]:
a = np.array([[1, 2], [3, 4]])
a

array([[1, 2],
       [3, 4]])

In [64]:
# repeat each element 3 times
np.repeat(a, 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4])

In [65]:
# tile the matrix 3 times
np.tile(a, 3)

array([[1, 2, 1, 2, 1, 2],
       [3, 4, 3, 4, 3, 4]])

In [66]:
b = np.array([[5, 6]])
b

array([[5, 6]])

In [67]:
# concatenate a and b along axis 0
np.concatenate((a,b),axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [68]:
# concatenate a and b along axis 1
np.concatenate((a, b.T), axis=1)

array([[1, 2, 5],
       [3, 4, 6]])

**hstack and vstack**

In [69]:
np.vstack((a,b))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [70]:
np.hstack((a,b.T))

array([[1, 2, 5],
       [3, 4, 6]])


**Copy and "deep copy"**

For performance reasons, assignments in Python usually do not copy the underlaying objects. This is important for example when objects are passed between functions, to avoid an excessive amount of memory copying when it is not necessary (technical term: pass by reference).

In [71]:
A = np.array([[1,2],[3,4]])
A

array([[1, 2],
       [3, 4]])

In [72]:
# now array B is referring to the same array data as A
B = A
B

array([[1, 2],
       [3, 4]])

In [73]:
# changing B affects A
B[0,0] = 10

A

array([[10,  2],
       [ 3,  4]])

If we want to avoid such a behavior, so that when we get a new completely independent object B copied from A, then we need to do a so-called "deep copy" using the function copy:

In [74]:
B = np.copy(A)


**Vectorizing functions**

As mentioned several times by now, to get good performance we should always try to avoid looping over elements in our vectors and matrices, and instead use vectorized algorithms. The first step in converting a scalar algorithm to a vectorized algorithm is to make sure that the functions we write work with vector inputs.

In [75]:
def Theta(x):
    """
    scalar implementation of the Heaviside step function.
    """
    if x >= 0:
        return 1
    else:
      return 0

In [76]:
v1 = np.array([-3,-2,-1,0,1,2,3])

Theta(v1)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

That didn't work because we didn't write the function Theta so that it can handle a vector input...

To get a vectorized version of Theta we can use the Numpy function vectorize. In many cases it can automatically vectorize a function:

In [77]:
Theta_vec = np.vectorize(Theta)

In [78]:
Theta_vec(v1)

array([0, 0, 0, 1, 1, 1, 1])

we can also implement the function to accept a vector input from the beginning (requires more effort but might give better performance):

In [79]:
def Theta(x):
  """
  Vector-aware implementation of the Heaviside step function.
  """
  return 1 * (x >= 0)

In [80]:
Theta(v1)

array([0, 0, 0, 1, 1, 1, 1])

In [81]:
# it even works with scalar input
Theta(-1.2), Theta(2.6)

(0, 1)


# Exercices


## Exercise 1: Creating and Manipulating NumPy Arrays

    Create a 1D NumPy array from the list [5, 10, 15, 20, 25]. Convert the array to type float64 and print it.

    Create a 2D NumPy array from the nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]. Print the shape and size of the array.

    Create a 3D NumPy array with random values of shape (2, 3, 4). Print the number of dimensions and the shape of the array.

In [82]:
# Create a 1D NumPy array
arr_1d = np.array([5, 10, 15, 20, 25])

# Convert to float64
arr_1d = arr_1d.astype(np.float64)

# Print the array
print(arr_1d)

[ 5. 10. 15. 20. 25.]

In [83]:
# Create a 2D NumPy array
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Print the shape and size
print("Shape:", arr_2d.shape)

# Print the size
print("Size:", arr_2d.size)

Shape: (3, 3)
Size: 9

In [84]:
# Create a 3D NumPy array with random values
arr_3d = np.random.rand(2, 3, 4)

# Print the number of dimensions
print("Number of Dimensions:", arr_3d.ndim)

# Print the shape
print("Shape:", arr_3d.shape)

Number of Dimensions: 3
Shape: (2, 3, 4)


## Exercise 2: Advanced Array Manipulations

  * Create a 1D NumPy array with the numbers from 0 to 9. Reverse the array and print it.

  * Create a 2D NumPy array with the numbers from 0 to 11, arranged in a 3x4 shape. Extract a subarray consisting of the first two rows and the last two columns, and print it.

  * Create a 2D NumPy array of shape (5, 5) with random integers between 0 and 10. Replace all elements greater than 5 with 0 and print the modified array.

In [85]:
# Create a 1D array
arr_1d = np.arange(10)

# Reverse the array
reversed_arr = arr_1d[::-1]

# Print the reversed array
print(reversed_arr)

[9 8 7 6 5 4 3 2 1 0]

In [86]:
# Create a 2D array
arr_2d = np.arange(12).reshape(3, 4)

# Extract subarray
subarray = arr_2d[:2, 2:]

# Print the subarray
print(subarray)

[[2 3]
 [6 7]]

In [87]:
# Create a 2D array with random integers
arr_2d = np.random.randint(0, 10, size=(5, 5))


# Replace elements greater than 5 with 0
arr_2d[arr_2d > 5] = 0

# Print the modified array
print(arr_2d)

[[1 2 1 1 0]
 [0 0 3 0 3]
 [5 0 0 0 3]
 [0 1 0 5 0]
 [5 5 0 0 4]]


## Exercise 3: Array Initialization and Attributes

  * Create a 3x3 identity matrix using NumPy and print its attributes: ndim, shape, size, itemsize, and nbytes.

  * Create an array of 10 evenly spaced numbers between 0 and 5 using numpy.linspace(). Print the array and its datatype.

  * Create a 3D array of shape (2, 3, 4) with random values from a standard normal distribution. Print the array and the sum of all elements.

In [88]:
# Create a 3x3 identity matrix
identity_matrix = np.identity(3)

# Print attributes
print("dimensions:", identity_matrix.ndim)
print("shape:", identity_matrix.shape)
print("size:", identity_matrix.size)
print("itemsize:", identity_matrix.itemsize)
print("Total number of bytes in arr:", identity_matrix.nbytes)

dimensions: 2
shape: (3, 3)
size: 9
itemsize: 8
Total number of bytes in arr: 72

In [89]:
# Create an array of evenly spaced numbers
spaced_numbers = np.linspace(0, 5, 10)

# Print the array and its datatype
print("Array:", spaced_numbers)
print("Datatype:", spaced_numbers.dtype)

Array: [0.         0.55555556 1.11111111 1.66666667 2.22222222 2.77777778
 3.33333333 3.88888889 4.44444444 5.        ]
Datatype: float64

In [90]:
# Create a 3D array of shape (2, 3, 4) with random values from a standard normal distribution
random_array = np.random.randn(2, 3, 4)

# Print the array and the sum of all elements
print("Array:", random_array)
print("Sum of elements:", np.sum(random_array))

Array: [[[ 1.72308678  1.10462671  0.47534732 -0.99521863]
  [-0.22374891 -0.74328827 -0.24324729  0.34385515]
  [-0.6326182  -1.398156    1.0664645   0.42586227]]

 [[-0.46593913 -0.7681336   0.74139124 -0.39126093]
  [-1.27716821  0.10001903 -1.96813526  0.9026859 ]
  [-0.10750448  0.288096    1.66113111  0.16682667]]]
Sum of elements: -0.2150262371625834


## Exercise 4: Fancy Indexing and Masking

  * Create a 1D NumPy array with random integers between 0 and 50 of size 20. Use fancy indexing to extract elements at indices [2, 5, 7, 10, 15] and print them.

  * Create a 2D NumPy array with random integers between 0 and 30 of shape (4, 5). Use a boolean mask to select all elements greater than 15 and print them.

  * Create a 1D NumPy array of 10 random integers between -10 and 10. Use a boolean mask to set all negative values to zero and print the modified array.

In [91]:
# Create a 1D array with random integers
random_array = np.random.randint(0, 50, size=20)
print("random_array",random_array)

# Extract elements using fancy indexing
extracted_elements = random_array[[2, 5, 7, 10, 15]]

# Print the extracted elements
print("Extracted elements:", extracted_elements)

random_array [30 18 21 26  3  5 22 46 28 35  1 43 40 35 37 43 14 10 33 41]
Extracted elements: [21  5 46  1 43]

In [92]:
# Create a 2D array with random integers
random_array_2d = np.random.randint(0, 30, size=(4, 5))
print("random_array_2d", random_array_2d)

# Create a boolean mask
mask = random_array_2d > 15

# Select elements using the mask
selected_elements = random_array_2d[mask]

# Print the selected elements
print("Selected elements:", selected_elements)

random_array_2d [[ 3  7  7  4  9]
 [ 8 15 26  1 21]
 [21 18 18 13  7]
 [18 11 15  3 17]]
Selected elements: [26 21 21 18 18 18 17]

In [93]:
# Create a 1D array of 10 random integers between -10 and 10
random_integers = np.random.randint(-10, 10, size=10)

# Create a boolean mask for negative values
negative_mask = random_integers < 0

# Set negative values to zero using the mask
random_integers[negative_mask] = 0

# Print the modified array
print("Modified array:", random_integers)

Modified array: [3 8 2 0 9 8 8 5 3 6]


## Exercise 5: Combining and Splitting Arrays

  * Create two 1D NumPy arrays of length 5 with random integers between 0 and 10. Concatenate the two arrays and print the result.

  * Create a 2D NumPy array of shape (6, 4) with random integers between 0 and 10. Split the array into two equal parts along the row axis and print them.

  * Create a 2D NumPy array of shape (3, 6) with random integers between 0 and 10. Split the array into three equal parts along the column axis and print them.

In [94]:
# Create two 1D arrays with random integers
array1 = np.random.randint(0, 10, size=5)
array2 = np.random.randint(0, 10, size=5)

# Concatenate the arrays
concatenated_array = np.concatenate((array1, array2))

# Print the result
print("Concatenated array:", concatenated_array)

Concatenated array: [0 5 2 3 4 8 8 8 4 6]

In [95]:
# Create a 2D array with random integers
array_2d = np.random.randint(0, 10, size=(6, 4))

# Split the array into two equal parts along the row axis
part1, part2 = np.split(array_2d, 2, axis=0)

# Print the result
print(part1)
print(part2)

[[7 0 0 3]
 [7 8 4 8]
 [9 2 1 9]]
[[2 4 4 9]
 [8 5 5 7]
 [2 6 3 3]]

In [96]:
# Create a 2D array with random integers
array_2d = np.random.randint(0,10, size=(3,6))

# Split the array into three equal parts along the column axis
part1, part2, part3 = np.split(array_2d,3,axis=1)

# Print the result
print (part1)
print (part2)
print (part3)

[[7 2]
 [6 0]
 [2 9]]
[[1 3]
 [0 4]
 [9 3]]
[[4 4]
 [8 2]
 [6 9]]


### Exercise 6: Mathematical Functions and Aggregations

  * Create a 1D NumPy array with random integers between 1 and 100 of size 15. Compute and print the mean, median, standard deviation, and variance of the array.

  * Create a 2D NumPy array of shape (4, 4) with random integers between 1 and 50. Compute and print the sum of each row and each column.

  * Create a 3D NumPy array of shape (2, 3, 4) with random integers between 1 and 20. Find the maximum and minimum values along each axis and print them.

In [97]:
# Create a 1D array with random integers
array_1d = np.random.randint(1, 101, size=15)

# Calculate statistics
mean = np.mean(array_1d)
median = np.median(array_1d)
std_dev = np.std(array_1d)
variance = np.var(array_1d)

# Print the statistics
print("array_1d:", array_1d)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)
print("Variance:", variance)

array_1d: [57 94 77 66 72 73 39 67 45 67 91 97 17 61 48]
Mean: 64.73333333333333
Median: 67.0
Standard Deviation: 20.90443865679142
Variance: 436.99555555555554

In [98]:
# Create a 2D array with random integers
array_2d = np.random.randint(1, 51, size=(4, 4))

    # Calculate sum of each row
row_sums = np.sum(array_2d, axis=1)

    # Calculate sum of each column
column_sums = np.sum(array_2d, axis=0)

    # Print the results
print("array_2d:\n", array_2d)
print("Row sums:", row_sums)
print("Column sums:", column_sums)

array_2d:
 [[41 10 28 38]
 [36 10 50 47]
 [25 41 37 46]
 [22 31 37 24]]
Row sums: [117 143 149 114]
Column sums: [124  92 152 155]

In [99]:
# Create a 3D array with random integers
array_3d = np.random.randint(1,21, size=(2, 3, 4))

# Find maximum and minimum values along each axis
max_values_axis0 = np.max(array_3d, axis=0)
min_values_axis0 = np.min(array_3d, axis=0)

max_values_axis1 = np.max(array_3d, axis=1)
min_values_axis1 = np.min(array_3d, axis=1)

max_values_axis2 = np.max(array_3d, axis=2)
min_values_axis2 = np.min(array_3d, axis=2)

    # Print the results
print("array_3d:\n", array_3d)

print("\nMaximum values along axis 0:\n", max_values_axis0)
print("Minimum values along axis 0:\n", min_values_axis0)

print("Maximum values along axis 1:\n", max_values_axis1)
print("Minimum values along axis 1:\n", min_values_axis1)

print("Maximum values along axis 2:\n", max_values_axis2)
print("Minimum values along axis 2:\n", min_values_axis2)

array_3d:
 [[[ 4  1  9 17]
  [ 8  4 19  7]
  [16  6  4 10]]

 [[19  4 19  8]
  [14  5 16  4]
  [10  9 10  4]]]

Maximum values along axis 0:
 [[19  4 19 17]
 [14  5 19  7]
 [16  9 10 10]]
Minimum values along axis 0:
 [[ 4  1  9  8]
 [ 8  4 16  4]
 [10  6  4  4]]
Maximum values along axis 1:
 [[16  6 19 17]
 [19  9 19  8]]
Minimum values along axis 1:
 [[ 4  1  4  7]
 [10  4 10  4]]
Maximum values along axis 2:
 [[17 19 16]
 [19 16 10]]
Minimum values along axis 2:
 [[1 4 4]
 [4 4 4]]


Exercise 7: Reshaping and Transposing Arrays

  * Create a 1D NumPy array with the numbers from 1 to 12. Reshape the array to a 2D array of shape (3, 4) and print it.

  * Create a 2D NumPy array of shape (3, 4) with random integers between 1 and 10. Transpose the array and print the transposed array.

  * Create a 2D NumPy array of shape (2, 3) with random integers between 1 and 10. Flatten the array to 1D and print the result.

In [100]:
# Create a 1D array
arr_1d = np.arange(1, 13)

# reshape to a 2D array
arr_2d = arr_1d.reshape(3, 4)

# Print the result
print(arr_2d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [101]:
# Create a 2D array with random integers
arr_2d = np.random.randint(1,11, size=(3, 4))
print ("\n",arr_2d)

# Transpose the array
transposed_arr = arr_2d.T

# Print the transposed array
print("\nTranspose:\n",transposed_arr)

 [[ 5  7  8  4]
 [ 5 10  6  6]
 [ 6  6  7  4]]

Transpose:
 [[ 5  5  6]
 [ 7 10  6]
 [ 8  6  7]
 [ 4  6  4]]

In [102]:
# Create a 2D array
arr_2d = np.random.randint(1, 11, size=(2, 3))
print ("2d array :\n",arr_2d)
#flatten the array
arr_1d = arr_2d.flatten()

#print the result
print("Flattened array:", arr_1d)

2d array :
 [[3 5 1]
 [4 2 1]]
Flattened array: [3 5 1 4 2 1]


## Exercise 8: Broadcasting and Vectorized Operations

  * Create a 2D NumPy array of shape (3, 4) with random integers between 1 and 10. Subtract the mean of each column from the respective column elements and print the result.

  * Create two 1D NumPy arrays of length 4 with random integers between 1 and 5. Use broadcasting to compute and print the outer product of the two arrays.

  * Create a 2D NumPy array of shape (4, 5) with random integers between 1 and 10. Add 10 to all elements of the array that are greater than 5 and print the modified array.

In [103]:
# Create a 2D array
arr_2d = np.random.randint(1, 11, size=(3, 4))

#calculate the mean of each column
col_means = np.mean(arr_2d, axis=0)

#substract the mean from each column
result = arr_2d - col_means

#print the result
print("Original array:\n", arr_2d)
print("Column means:\n", col_means)
print("Result:\n", result)

Original array:
 [[1 8 4 2]
 [5 7 1 3]
 [1 9 5 7]]
Column means:
 [2.33333333 8.         3.33333333 4.        ]
Result:
 [[-1.33333333  0.          0.66666667 -2.        ]
 [ 2.66666667 -1.         -2.33333333 -1.        ]
 [-1.33333333  1.          1.66666667  3.        ]]

In [104]:
# Create two 1D arrays
arr1 = np.random.randint(1, 6, size=4)
arr2 = np.random.randint(1, 6, size=4)

# Compute the outer product using broadcasting
outer_product = arr1[:, np.newaxis] * arr2

# another method is:
outer2_product = np.outer(arr1, arr2)

# print the result
print("Array 1:", arr1)
print("Array 2:", arr2)
print("\nOuter Product:\n", outer_product)
print("\nOuter Product methode2:\n", outer2_product)

Array 1: [2 1 5 5]
Array 2: [5 4 4 5]

Outer Product:
 [[10  8  8 10]
 [ 5  4  4  5]
 [25 20 20 25]
 [25 20 20 25]]

Outer Product methode2:
 [[10  8  8 10]
 [ 5  4  4  5]
 [25 20 20 25]
 [25 20 20 25]]

In [105]:
# Create a 2D array
arr_2d = np.random.randint(1, 11, size=(4, 5))
print("Original array:\n", arr_2d)

# Add 10 to elements greater than 5
arr_2d[arr_2d > 5] += 10

'''or # Create a mask for elements greater than 5
  #mask = arr_2d > 5
  #arr_2d[mask] = arr_2d[mask] + 10'''

# Print the modified array
print("\nModified array:\n", arr_2d)

Original array:
 [[ 1  4  6 10  8]
 [10  8  1  6  2]
 [ 4  4  1  3  8]
 [10  2  9  5  6]]

Modified array:
 [[ 1  4 16 20 18]
 [20 18  1 16  2]
 [ 4  4  1  3 18]
 [20  2 19  5 16]]


## Exercise 9: Sorting and Searching Arrays

  * Create a 1D NumPy array with random integers between 1 and 20 of size 10. Sort the array in ascending order and print the sorted array.

  * Create a 2D NumPy array of shape (3, 5) with random integers between 1 and 50. Sort the array by the second column and print the result.

  * Create a 1D NumPy array with random integers between 1 and 100 of size 15. Find and print the indices of all elements greater than 50.

In [106]:
# Create a 1D array with random integers
arr_1d = np.random.randint(1, 21, size=10)

# Sort the array in ascending order
sorted_arr = np.sort(arr_1d)

# Print the array
print("Original array:", arr_1d)
print("Sorted array:", sorted_arr)

Original array: [17  2 15 20 10  6  8 13 12  9]
Sorted array: [ 2  6  8  9 10 12 13 15 17 20]

In [107]:
# Create a 2D array with random integers
arr_2d = np.random.randint(1, 51, size=(3, 5))
print("Original array:\n", arr_2d)

# Sort the array by the second column
# arr_2d[:, 1] selects the second column
# .argsort() returns the indices that are used to reorder the entire array by rows.
sorted_arr = arr_2d[arr_2d[:, 1].argsort()]

# Print the result
print("\nSorted array by the second column:\n", sorted_arr)

Original array:
 [[26 13 48  4 42]
 [26  4 41 10 40]
 [26 15 27 13  4]]

Sorted array by the second column:
 [[26  4 41 10 40]
 [26 13 48  4 42]
 [26 15 27 13  4]]

In [108]:
# Create a 1D array with random integers between 1 and 100 of size 15
arr_1d = np.random.randint(1, 101, size=15)
print("\nOriginal 1D array:", arr_1d)

# Find the indices of elements greater than 50
indices_greater_than_50 = np.where(arr_1d > 50)[0]

# Print the indices
print("Indices of elements greater than 50:", indices_greater_than_50)

Original 1D array: [31 49 27 94 53 77 71 25 66 73 55 60 17 97 32]
Indices of elements greater than 50: [ 3  4  5  6  8  9 10 11 13]


## Exercise 10: Linear Algebra with NumPy

  * Create a 2D NumPy array of shape (2, 2) with random integers between 1 and 10. Compute and print the determinant of the array.

  * Create a 2D NumPy array of shape (3, 3) with random integers between 1 and 5. Compute and print the eigenvalues and eigenvectors of the array.

  * Create two 2D NumPy arrays of shape (2, 3) and (3, 2) with random integers between 1 and 10. Compute and print the matrix product of the two arrays.

In [109]:
# Create a 2D array
arr_2d = np.random.randint(1, 11, size=(2, 2))

# Compute the determinant
det = np.linalg.det(arr_2d)

# Print the result
print("Original array:\n", arr_2d)
print("Determinant:", det)

Original array:
 [[5 8]
 [9 5]]
Determinant: -47.000000000000014

In [110]:
# Create a 2D array with random integers between 1 and 5 of shape (3, 3)
arr2 = np.random.randint(1, 6, size=(3, 3))
print("\n2D array (3x3):\n", arr2)


# Compute the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(arr2)

print("\nEigenvalues of the array:\n", eigenvalues)
print("\nEigenvectors of the array:\n", eigenvectors)

2D array (3x3):
 [[1 4 4]
 [3 2 5]
 [5 1 4]]

Eigenvalues of the array:
 [ 9.66788073+0.j         -1.33394036+1.00665575j -1.33394036-1.00665575j]

Eigenvectors of the array:
 [[-0.54651916+0.j          0.64439958+0.j          0.64439958-0.j        ]
 [-0.59686472+0.j          0.23881865+0.34239621j  0.23881865-0.34239621j]
 [-0.587426  +0.j         -0.6148162 -0.18022408j -0.6148162 +0.18022408j]]

In [111]:
# Create two 2D arrays with random integers
array1 = np.random.randint(1, 11, size=(2, 3))
array2 = np.random.randint(1, 11, size=(3, 2))

#compute the matrix product
matrix_product = np.dot(array1, array2)

# Print the result
print("Array 1:\n", array1)
print("\nArray 2:\n", array2)
print("\nMatrix product:\n", matrix_product)

Array 1:
 [[6 5 3]
 [5 6 1]]

Array 2:
 [[5 7]
 [5 6]
 [3 9]]

Matrix product:
 [[64 99]
 [58 80]]


## Exercise 11: Random Sampling and Distributions

  * Create a 1D NumPy array of 10 random samples from a uniform distribution over [0, 1) and print the array.

  * Create a 2D NumPy array of shape (3, 3) with random samples from a normal distribution with mean 0 and standard deviation 1. Print the array.

  * Create a 1D NumPy array of 20 random integers between 1 and 100. Compute and print the histogram of the array with 5 bins.

In [112]:
# Create a 1D array with random samples from a uniform distribution
uniform_samples = np.random.rand(10)

# Print the array
print("Uniform Samples:\n", uniform_samples)

Uniform Samples:
 [0.19390161 0.81008179 0.44838477 0.22626248 0.17018104 0.3130828
 0.25340454 0.05667372 0.83234287 0.73265751]

In [113]:
# Create a 2D array with random samples from a normal distribution
# with mean 0 and standard deviation 1
normal_samples = np.random.normal(loc=0, scale= 1, size=(3, 3))

# Print the array
print("Normal Samples:\n", normal_samples)

Normal Samples:
 [[-0.24030299  0.24170524  0.42037559]
 [ 0.7127545  -1.05995139  0.91807257]
 [-0.1982331  -0.04709188  1.20526435]]

In [114]:
#create 1d array
random_integers= np.random.randint(1,101, size=20)

# Compute the histogram with 5 bins
hist, bin_edges = np.histogram(random_integers, bins=5)

# Print the results
print("\nHistogram counts (5 bins):\n", hist)
print("Bin edges:\n", bin_edges)

Histogram counts (5 bins):
 [6 3 5 2 4]
Bin edges:
 [ 1.  19.6 38.2 56.8 75.4 94. ]


## Exercise 12: Advanced Indexing and Selection

  * Create a 2D NumPy array of shape (5, 5) with random integers between 1 and 20. Select and print the diagonal elements of the array.

  * Create a 1D NumPy array of 10 random integers between 1 and 50. Use advanced indexing to select and print all elements that are prime numbers.

  * Create a 2D NumPy array of shape (4, 4) with random integers between 1 and 10. Select and print all elements that are even numbers.

In [115]:
# Create a 2D array with random integers
array_2d = np.random.randint(1, 21, size=(5, 5))
print("Original array:\n", array_2d)

#select diagonal elemnnt using np.diag
diagonal_elements = np.diag(array_2d)

# Print the diagonal elements
print("\nDiagonal elements:", diagonal_elements)

Original array:
 [[11 13  7 16 12]
 [ 4 20  3 18 15]
 [ 8  5  6  1  8]
 [20 16 17 19 12]
 [ 7  7  1 19 16]]

Diagonal elements: [11 20  6 19 16]

In [116]:
# create a 1d array with random integers
array_1d = np .random.randint(1, 51 ,size=10)
print("Original array:", array_1d)

# Use advanced indexing to select prime numbers #

''' Function to check if a number is prime '''
def is_prime(num):
  if num < 2:
    return False
  for i in range(2, int(np.sqrt(num)) + 1): #This loop checks if the number num can be divided by any integer i between 2 and the square root of num (rounded up).
    if num % i == 0:
      return False
  return True

#create a boolean mask for prime numbers
prime_mask = np.array([is_prime(x) for x in array_1d])

#select prime numbers using the mask
prime_numbers = array_1d[prime_mask]

# Print the prime numbers
print("Prime numbers:", prime_numbers)

Original array: [26 27 10 12 23 37 36 31  1 16]
Prime numbers: [23 37 31]

In [117]:
# create a 2d array with random integers
array_2d = np.random.randint(1,11, size=(4,4))
print("Original array:\n", array_2d)

# Select and print all even numbers
even_numbers = array_2d[array_2d % 2 == 0]
print("\nEven numbers in the array:\n", even_numbers)

Original array:
 [[ 5  5  2  9]
 [ 1  9  4  1]
 [ 9  4  7 10]
 [ 7  9  3  3]]

Even numbers in the array:
 [ 2  4  4 10]


## Exercise 13: Handling Missing Data

  * Create a 1D NumPy array of length 10 with random integers between 1 and 10. Introduce np.nan at random positions and print the array.

  * Create a 2D NumPy array of shape (3, 4) with random integers between 1 and 10. Replace all elements that are less than 5 with np.nan and print the array.

  * Create a 1D NumPy array of length 15 with random integers between 1 and 20. Identify and print the indices of all np.nan values in the array.

In [118]:
# Create a 1D array with random integers
array_1d = np.random.randint(1, 11, size=10).astype(np.float64)
print("Original array:", array_1d)

# Introduce np.nan at random positions
''' Choosing 3 random positions '''
random_indices = np.random.choice(len(array_1d), size=3, replace=False)
array_1d[random_indices] = np.nan
print("\nArray with np.nan at random positions:\n", array_1d)

Original array: [4. 1. 4. 9. 7. 4. 2. 2. 7. 9.]

Array with np.nan at random positions:
 [ 4.  1.  4. nan nan  4.  2. nan  7.  9.]

In [119]:
# Create a 2D array with random integers
array_2d = np.random.randint(1, 11, size=(3, 4)).astype(np.float64)  # Change to float64
print("Original array:\n", array_2d)

# replace elements less than 5 with np.nan
array_2d[array_2d < 5]= np.nan

#print the modified array
print("\nArray with NaN values:\n", array_2d)

Original array:
 [[ 6.  5.  9. 10.]
 [ 7.  7.  3. 10.]
 [ 5.  9.  9.  6.]]

Array with NaN values:
 [[ 6.  5.  9. 10.]
 [ 7.  7. nan 10.]
 [ 5.  9.  9.  6.]]

In [120]:
# Create a 1D array with random integers and introduce np.nan
array_1d = np.random.randint(1, 21, size=15).astype(np.float64)

# Introduce np.nan at random positions
random_indices_15 = np.random.choice(len(array_1d), size=4, replace=False)  # Choosing 4 random positions
array_1d[random_indices_15] = np.nan
print("\nArray with np.nan at random positions:\n", array_1d)

# Identify and print the indices of all np.nan values
nan_indices = np.where(np.isnan(array_1d))[0]
print("\nIndices of np.nan values in the array:\n", nan_indices)

Array with np.nan at random positions:
 [19. nan  7. 11.  5. 12. nan nan 13. 20. 20. 18. 11. nan  2.]

Indices of np.nan values in the array:
 [ 1  6  7 13]


## Exercise 14: Performance Optimization with NumPy

  * Create a large 1D NumPy array with 1 million random integers between 1 and 100. Compute the mean and standard deviation using NumPy functions and measure the time taken.

  * Create two large 2D NumPy arrays of shape (1000, 1000) with random integers between 1 and 10. Perform element-wise addition and measure the time taken.

  * Create a 3D NumPy array of shape (100, 100, 100) with random integers between 1 and 10. Compute the sum along each axis and measure the time taken.

In [121]:
import time

# Create a large 1D array
array_large = np.random.randint(1,101, size=1_000_000)

# Mesure time for mean calculation
start_time = time.time()
mean = np.mean(array_large)
std_dev = np.std(array_large)
end_time = time.time()

# Output the results and time taken
print(f"Mean: {mean}, Standard Deviation: {std_dev}")
print("Time taken for calculation:", end_time - start_time, "seconds")

Mean: 50.496059, Standard Deviation: 28.88739867950243
Time taken for calculation: 0.01520991325378418 seconds

In [122]:
# Create two large 2D arrays
array1 = np.random.randint(1, 11, size=(1000, 1000))
array2 = np.random.randint(1, 11, size=(1000, 1000))

#Measure time for element-wise addition
start_time = time.time()
result = array1 + array2 #Element wise
end_time = time.time()

# Print the time taken
print("Time taken for element-wise addition:", end_time - start_time, "seconds")                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ,

Time taken for element-wise addition: 0.008991241455078125 seconds

(None,)

In [123]:
# Create a 3D array
array_3d = np.random.randint(1, 11, size=(100, 100, 100))

# Measure time for sum along axis 0
start_time = time.time()

sum_axis0 = np.sum(array_3d, axis=0)
sum_axis1 = np.sum(array_3d, axis=1)
sum_axis2 = np.sum(array_3d, axis=2)

end_time = time.time()

# Output the time taken
print(f"Time taken for sum along axes: {end_time - start_time:.6f} seconds")

Time taken for sum along axes: 0.004477 seconds


## Exercise 15: Cumulative and Aggregate Functions

  * Create a 1D NumPy array with the numbers from 1 to 10. Compute and print the cumulative sum and cumulative product of the array.

  * Create a 2D NumPy array of shape (4, 4) with random integers between 1 and 20. Compute and print the cumulative sum along the rows and the columns.

  * Create a 1D NumPy array with 10 random integers between 1 and 50. Compute and print the minimum, maximum, and sum of the array.

In [124]:
# Create a 1D array
array_1d = np.arange(1, 11)
print("Original array:", array_1d)

# Compute umulative sum
cumulative_sum = np.cumsum(array_1d)
print("Cumulative sum:", cumulative_sum)

# Compute cumulative product
cumulative_product = np.cumprod(array_1d)
print("Cumulative product:", cumulative_product)

Original array: [ 1  2  3  4  5  6  7  8  9 10]
Cumulative sum: [ 1  3  6 10 15 21 28 36 45 55]
Cumulative product: [      1       2       6      24     120     720    5040   40320  362880
 3628800]

In [125]:
# Create a 2D array
array_2d = np.random.randint(1, 21, size=(4, 4))
print("Original array:\n", array_2d)

# cumulative sum along rows(axis=1)
cumulative_sum_rows = np.cumsum(array_2d, axis=1)
print("\nCumulative sum along rows:\n", cumulative_sum_rows)

# Cumulative sum along columns (axis=0)
cumulative_sum_cols = np.cumsum(array_2d, axis=0)
print("\nCumulative sum along columns:\n", cumulative_sum_cols)

Original array:
 [[20 10  5 20]
 [ 9 20 10 13]
 [15 16  2  8]
 [ 3 15 14 13]]

Cumulative sum along rows:
 [[20 30 35 55]
 [ 9 29 39 52]
 [15 31 33 41]
 [ 3 18 32 45]]

Cumulative sum along columns:
 [[20 10  5 20]
 [29 30 15 33]
 [44 46 17 41]
 [47 61 31 54]]

In [126]:
# Step 3: Create a 1D NumPy array with 10 random integers between 1 and 50
arr_random = np.random.randint(1, 51, size=10)

# Compute minimum, maximum, and sum
min_value = np.min(arr_random)
max_value = np.max(arr_random)
sum_value = np.sum(arr_random)

# Print the results
print("\nOriginal random 1D array:", arr_random)
print("Minimum value:", min_value)
print("Maximum value:", max_value)
print("Sum:", sum_value)

Original random 1D array: [ 4 15 30 42 13 12 40  2 12 37]
Minimum value: 2
Maximum value: 42
Sum: 207


## Exercise 16: Working with Dates and Times

  * Create an array of 10 dates starting from today with a daily frequency and print the array.

  * Create an array of 5 dates starting from January 1, 2022 with a monthly frequency and print the array.

  * Create a 1D array with 10 random timestamps in the year 2023. Convert the timestamps to NumPy datetime64 objects and print the result.

In [127]:
# crete an array of 10 dates starting from today with daily frequency
today = np.datetime64('today')
daily_dates = np.arange(today, today + np.timedelta64(10, 'D'), dtype='datetime64[D]')
print("Daily dates starting from today:\n", daily_dates)

Daily dates starting from today:
 ['2024-10-06' '2024-10-07' '2024-10-08' '2024-10-09' '2024-10-10'
 '2024-10-11' '2024-10-12' '2024-10-13' '2024-10-14' '2024-10-15']

In [128]:

# Create an array of 5 dates starting from January 1, 2022 with a monthly frequency
dates_monthly = np.arange(np.datetime64('2022-01'), np.datetime64('2022-01') + 5, dtype='datetime64[M]')

# Print the result
print("Array of 5 dates starting from January 1, 2022 with monthly frequency:\n", dates_monthly)

Array of 5 dates starting from January 1, 2022 with monthly frequency:
 ['2022-01' '2022-02' '2022-03' '2022-04' '2022-05']

In [129]:
# Start from January 2022
start_date = np.datetime64('2022-01')

# Generate 5 months starting from January 2022 with monthly frequency
dates_monthly = np.arange(start_date, start_date + 5, dtype='datetime64[M]')

# Print the result
print("Array of 5 dates starting from January 1, 2022 with monthly frequency:\n", dates_monthly)

Array of 5 dates starting from January 1, 2022 with monthly frequency:
 ['2022-01' '2022-02' '2022-03' '2022-04' '2022-05']

In [130]:
import datetime

# Define the start and end of 2023 in seconds since the epoch
start_2023 = np.datetime64('2023-01-01').astype('datetime64[s]').astype('int64')
end_2023 = np.datetime64('2024-01-01').astype('datetime64[s]').astype('int64')

# Generate a range of seconds within 2023
seconds_2023 = np.arange(start_2023, end_2023)

# Select 10 random timestamps from the range
random_timestamps_seconds = np.random.choice(seconds_2023, size=10, replace=False)

# Convert the random timestamps to NumPy datetime64 objects
datetime64_timestamps = random_timestamps_seconds.astype('datetime64[s]')

# Format the timestamps to a more readable format
formatted_timestamps = [
    datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
    for ts in random_timestamps_seconds
]

# Print the formatted timestamps
print("Random timestamps in 2023:\n", formatted_timestamps)

Random timestamps in 2023:
 ['2023-04-17 23:05:16', '2023-10-11 21:36:14', '2023-11-17 20:12:41', '2023-06-17 08:12:22', '2023-05-17 22:10:42', '2023-07-05 20:46:41', '2023-08-26 06:29:38', '2023-01-13 10:48:09', '2023-09-17 23:42:30', '2023-12-28 12:45:12']


## Exercise 17: Creating Arrays with Custom Data Types

  * Create a 1D NumPy array of length 5 with custom data type to store integers and their corresponding binary representation as strings. Print the array.

  * Create a 2D NumPy array of shape (3, 3) with a custom data type to store complex numbers. Initialize the array with some complex numbers and print the array.

  * Create a structured array to store information about books with fields: title (string), author (string), and pages (integer). Add information for three books and print the structured array.

In [132]:
# Define the custom data type
Dtype = np.dtype([('integer', np.int32), ('binary', 'U10')])# U10 for strings up to 10 characters

# Create the array
custom_array = np.zeros(5, dtype=Dtype)

# Fill the array with data
for i in range(5):
  integer_value= np.random.randint(0, 100)# Generate a random integer
  binary_representation = np.binary_repr(integer_value, width=8)
  custom_array[i] = (integer_value, binary_representation)

# Print the array
print("Array with custom data type:\n", custom_array)

Array with custom data type:
 [(69, '01000101') (62, '00111110') (91, '01011011') (55, '00110111')
 (23, '00010111')]

In [134]:
import numpy as np

# Define a custom data type for complex numbers (NumPy has built-in complex type)
dtype = np.dtype('complex')

# Create a 2D array of shape (3, 3) with complex numbers
arr_complex = np.array([[1+2j, 2+3j, 3+4j],
                        [4+5j, 5+6j, 6+7j],
                        [7+8j, 8+9j, 9+10j]], dtype=dtype)

# Print the array
print("2D array with complex numbers:")
print(arr_complex)

2D array with complex numbers:
[[1. +2.j 2. +3.j 3. +4.j]
 [4. +5.j 5. +6.j 6. +7.j]
 [7. +8.j 8. +9.j 9.+10.j]]

In [135]:
# Define the data type for the structured array
book_dtype = np.dtype([('title', 'U50'), ('author', 'U50'), ('pages', np.int32)])

# Create the structured array
books = np.zeros(3, dtype=book_dtype)

# Create the structured array
books = np.array([('Book 1', 'Author A', 200),
                  ('Book 2', 'Author B', 300),
                  ('Book 3', 'Author C', 400)], dtype=book_dtype)

# Print the structured array
print("Structured array with book information:")
print(books)

Structured array with book information:
[('Book 1', 'Author A', 200) ('Book 2', 'Author B', 300)
 ('Book 3', 'Author C', 400)]