# Introduction to Pandas DataFrames

In this notebook, you'll learn how to leverage pandas' extremely powerful data manipulation engine to get the most out of your data. It is important to be able to extract, filter, and transform data from DataFrames in order to drill into the data that really matters. The pandas library has many techniques that make this process efficient and intuitive. You will learn how to tidy, rearrange, and restructure your data by pivoting or melting and stacking or unstacking DataFrames. These are all fundamental next steps on the road to becoming a well-rounded Data Scientist, and you will have the chance to apply all the concepts you learn to real-world datasets.

A detailed course on Pandas is given on : https://github.com/guiwitz/NumpyPandas_course.git

## Series in Pandas

A Series in Pandas is a one-dimensional array-like object that can hold various data types. It is similar to a column in a spreadsheet or a database table. Each Series has an associated array of labels, called its index.

### Loading Libraries

First, let's import the necessary libraries:

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

A Series can be created from different data structures like lists, NumPy arrays, and dictionaries.

Example 1: Creating a Series from a List

Let's create a Series using a simple list:

In [2]:
labels = ['a', 'b', 'c']
list = [24, 13, 15]

# Creating a Series without specifying an index
pd.Series(data=list)

0    24
1    13
2    15
dtype: int64

### Creating a Series with Custom Index

We can also create a Series with a custom index:

In [3]:
pd.Series(data=list, index=labels)

a    24
b    13
c    15
dtype: int64

### Creating a Series from a Dictionary

A dictionary can be directly converted into a Series, where keys become the index:

In [4]:
dt = {'a': 909, 'b': 13, 'c': 50}
pd.Series(data=dt)

a    909
b     13
c     50
dtype: int64

### Creating a Series from a NumPy Array

Similarly, a NumPy array can be used to create a Series:

In [5]:
arr = np.array([10, 20, 30])

pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

### Series with Custom Index

We can create a Series with custom indices, such as names of cities:

In [6]:
villes = pd.Series([1, 2, 3, 4], index=['Alger', 'Tizi', 'Oran', 'Bejaia'])
villes

Alger     1
Tizi      2
Oran      3
Bejaia    4
dtype: int64

### Access to elements

Now a given element can be accessed either by using its regular index:

In [7]:
villes[0]

/tmp/ipykernel_34444/1727401185.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  villes[0]

1

or its chosen index:

In [8]:
villes['Alger']

1

### Operations with Series

Performing operations between two Series with non-aligned indexes results in NaN (Not a Number) for mismatched labels:

In [9]:
Villes2= pd.Series([1, 2, 3, 4], index=['Mombasa', 'Nakuru', 'Kis', 'Nairobi'])
Villes2

Mombasa    1
Nakuru     2
Kis        3
Nairobi    4
dtype: int64

### Adding Two Series

When adding two Series, if the indices are not aligned, the resulting Series will have NaN for those indices:

In [10]:
villes + Villes2

Alger     NaN
Bejaia    NaN
Kis       NaN
Mombasa   NaN
Nairobi   NaN
Nakuru    NaN
Oran      NaN
Tizi      NaN
dtype: float64

## DataFrames in Pandas

A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is one of the most widely used data structures for data manipulation and analysis.

### Loading Libraries

First, let's import the necessary libraries:

In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [12]:
df = pd.DataFrame(randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.411680 -0.389137  0.663274  0.679705
B  0.270988  0.447199 -1.291777 -0.181051
C  1.857626 -0.728052  0.359640 -0.768516
D  1.263009 -0.388652 -0.278128  0.080284
E -0.863677 -0.376279 -0.383596  0.599671

### Selection and Indexing

### Selecting a Column
You can select a single column from the DataFrame:

In [13]:
df['W']

A   -0.411680
B    0.270988
C    1.857626
D    1.263009
E   -0.863677
Name: W, dtype: float64

### Selecting Multiple Columns

You can select multiple columns by passing a list of column names:

In [14]:
df[['W', 'Z']]

          W         Z
A -0.411680  0.679705
B  0.270988 -0.181051
C  1.857626 -0.768516
D  1.263009  0.080284
E -0.863677  0.599671

### Selecting a Row

You can select a row by its label using the .loc method:

In [15]:
df.loc['A'] # select row A

W   -0.411680
X   -0.389137
Y    0.663274
Z    0.679705
Name: A, dtype: float64

### Creating a New Column

You can add new columns to the DataFrame:

In [16]:
df

          W         X         Y         Z
A -0.411680 -0.389137  0.663274  0.679705
B  0.270988  0.447199 -1.291777 -0.181051
C  1.857626 -0.728052  0.359640 -0.768516
D  1.263009 -0.388652 -0.278128  0.080284
E -0.863677 -0.376279 -0.383596  0.599671

In [17]:
df['Sum'] = df['W'] + df['X'] + df['Y'] + df['Z']
df

          W         X         Y         Z       Sum
A -0.411680 -0.389137  0.663274  0.679705  0.542161
B  0.270988  0.447199 -1.291777 -0.181051 -0.754642
C  1.857626 -0.728052  0.359640 -0.768516  0.720698
D  1.263009 -0.388652 -0.278128  0.080284  0.676512
E -0.863677 -0.376279 -0.383596  0.599671 -1.023881

You can also add a column with random values:

In [18]:
df['Random'] = randn(5)
df

          W         X         Y         Z       Sum    Random
A -0.411680 -0.389137  0.663274  0.679705  0.542161  0.361740
B  0.270988  0.447199 -1.291777 -0.181051 -0.754642 -0.814820
C  1.857626 -0.728052  0.359640 -0.768516  0.720698 -0.088642
D  1.263009 -0.388652 -0.278128  0.080284  0.676512  0.405633
E -0.863677 -0.376279 -0.383596  0.599671 -1.023881  0.161145

### Accessing Specific Values

You can access specific values using the .iloc and .loc methods:

In [19]:
# By integer location
''' df.iloc[4] will select the entire 5th row of the DataFrame df.'''
df.iloc[4]

W        -0.863677
X        -0.376279
Y        -0.383596
Z         0.599671
Sum      -1.023881
Random    0.161145
Name: E, dtype: float64

In [20]:
# By integer location of a specific value
''' df.iloc[2, 2] will retrieve the value located in the 3rd row and 3rd column of the DataFrame df. '''
df.iloc[2, 2]

0.3596402891230274

In [21]:
# By label location
df.loc['B', 'X']

0.4471989961936307

### Removing Columns and Rows

You can remove columns and rows using the .drop method.

In [22]:
# Removing a Column
df = df.drop('Sum', axis=1)

In [23]:
## Removing a Row
df.drop('E', axis=0, inplace=True)
df

          W         X         Y         Z    Random
A -0.411680 -0.389137  0.663274  0.679705  0.361740
B  0.270988  0.447199 -1.291777 -0.181051 -0.814820
C  1.857626 -0.728052  0.359640 -0.768516 -0.088642
D  1.263009 -0.388652 -0.278128  0.080284  0.405633

### Copying DataFrames

You can create copies of DataFrame slices:

In [24]:
df1 = df.loc['D']
df1

W         1.263009
X        -0.388652
Y        -0.278128
Z         0.080284
Random    0.405633
Name: D, dtype: float64

### Dropping Columns

To drop a column from the DataFrame, you can use the drop method:

In [25]:
df1 = df.drop(columns='Y')
df1

          W         X         Z    Random
A -0.411680 -0.389137  0.679705  0.361740
B  0.270988  0.447199 -0.181051 -0.814820
C  1.857626 -0.728052 -0.768516 -0.088642
D  1.263009 -0.388652  0.080284  0.405633

## Conditional Statement Selection

Using conditional statements, we can filter DataFrame values. For instance, we can check which values are greater than zero.

Example:

In [26]:
df > 0

       W      X      Y      Z  Random
A  False  False   True   True    True
B   True   True  False  False   False
C   True  False   True  False   False
D   True  False  False   True    True

### Resetting the Index

To reset the index of a DataFrame to the default integer index (0, 1, 2, ...), we use the reset_index() method.

In [27]:
df

          W         X         Y         Z    Random
A -0.411680 -0.389137  0.663274  0.679705  0.361740
B  0.270988  0.447199 -1.291777 -0.181051 -0.814820
C  1.857626 -0.728052  0.359640 -0.768516 -0.088642
D  1.263009 -0.388652 -0.278128  0.080284  0.405633

In [28]:
df.reset_index()

  index         W         X         Y         Z    Random
0     A -0.411680 -0.389137  0.663274  0.679705  0.361740
1     B  0.270988  0.447199 -1.291777 -0.181051 -0.814820
2     C  1.857626 -0.728052  0.359640 -0.768516 -0.088642
3     D  1.263009 -0.388652 -0.278128  0.080284  0.405633

### Adding a Column

To add a new column, we can use the loc accessor. For example, let's add a column named 'state'.

In [29]:
df

          W         X         Y         Z    Random
A -0.411680 -0.389137  0.663274  0.679705  0.361740
B  0.270988  0.447199 -1.291777 -0.181051 -0.814820
C  1.857626 -0.728052  0.359640 -0.768516 -0.088642
D  1.263009 -0.388652 -0.278128  0.080284  0.405633

In [30]:
newId = 'DE AB CD EF'.split()
df['state'] = newId
df

          W         X         Y         Z    Random state
A -0.411680 -0.389137  0.663274  0.679705  0.361740    DE
B  0.270988  0.447199 -1.291777 -0.181051 -0.814820    AB
C  1.857626 -0.728052  0.359640 -0.768516 -0.088642    CD
D  1.263009 -0.388652 -0.278128  0.080284  0.405633    EF

### Setting a New Index

We can set a new index for the DataFrame using the set_index method.

df.set_index('state', inplace=True)

In [31]:
df.set_index('state', inplace=True)
df

              W         X         Y         Z    Random
state
DE    -0.411680 -0.389137  0.663274  0.679705  0.361740
AB     0.270988  0.447199 -1.291777 -0.181051 -0.814820
CD     1.857626 -0.728052  0.359640 -0.768516 -0.088642
EF     1.263009 -0.388652 -0.278128  0.080284  0.405633

## Merging, Joining and Concatenation

We will explore how to merge, join, and concatenate DataFrames in Pandas. These operations are essential for combining data from multiple sources, similar to how you would perform operations in SQL.

Creating DataFrames

In [32]:
import pandas as pd

# Creating the first DataFrame
df3 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [33]:
# Creating the second DataFrame
df4 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[0, 1, 2, 3])

df4

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

### Concatenation

Concatenation is used to append one DataFrame to another, either along rows or columns.

To concatenate df3 and df4 along rows:

In [34]:
pd.concat([df3, df4])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

To concatenate df3 and df4 along columns:

In [35]:
pd.concat([df3, df4], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

### Merging

The merge function allows you to merge DataFrames together using a key column, similar to SQL joins.

First, let's create two DataFrames with a common key column.

In [36]:
# Creating the left DataFrame
left = pd.DataFrame({
    'key': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

left

  key   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [37]:
# Creating the right DataFrame
right = pd.DataFrame({
    'key': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

right

  key   B   C   D
4  A0  B4  C4  D4
5  A1  B5  C5  D5
6  A2  B6  C6  D6
7  A3  B7  C7  D7

To perform an inner merge on the key column:

In [38]:
pd.merge(left, right, how='inner', on='key')

  key B_x C_x D_x B_y C_y D_y
0  A0  B0  C0  D0  B4  C4  D4
1  A1  B1  C1  D1  B5  C5  D5
2  A2  B2  C2  D2  B6  C6  D6
3  A3  B3  C3  D3  B7  C7  D7

## Data Input and Output

We will explore how to read data from various file formats into Pandas DataFrames, perform basic data exploration, and save DataFrames back to files. We will cover reading CSV files, Excel files, and HTML content, and demonstrate how to save data to CSV and Excel files.

### Loading a CSV File

We start by loading data from a CSV file using pd.read_csv.

Use the file upload widget in Google Colab to upload your CSV file. This will allow you to select a file from your computer.

In [39]:
# Upload CSV file
from google.colab import files

uploaded = files.upload()

# Loading the CSV file
load_csv = pd.read_csv('cars.csv')

load_csv

ModuleNotFoundError: No module named 'google'

### DataFrame Shape

To get the shape (number of rows and columns) of the DataFrame:

In [ ]:
load_csv.shape

### Viewing the First Few Rows

To view the first five rows of the DataFrame (default) or specify the number of rows:

In [40]:
load_csv.head()
load_csv.head(3)  # First three rows

NameError: name 'load_csv' is not defined

## Viewing the Last Few Rows

To view the last five rows of the DataFrame:

In [41]:
load_csv.tail()

NameError: name 'load_csv' is not defined

### Statistical Summary

To get a statistical summary of the DataFrame:

load_csv.describe()

### Create a New DataFrame for the CSV

In [42]:
# Create a new DataFrame with specific columns and additional calculations
new_df = pd.DataFrame()

# Example: Copy specific columns from the original DataFrame
new_df['Column1'] = load_csv['manufacturer']
new_df['Column2'] = load_csv['model']

print(new_df.head())

NameError: name 'load_csv' is not defined

### Loading an Excel File

To load data from an Excel file:

In [43]:
# Upload Excel file
from google.colab import files

uploaded = files.upload()

# Loading the Excel file
load_excel=pd.read_excel("cars.xlsx", sheet_name='Sheet1')

load_excel

ModuleNotFoundError: No module named 'google'

### Loading HTML Content

To load data from an HTML table, we use pd.read_html.

In [44]:
# A library for making HTTP requests to fetch content from the web.
import requests
#  A library for parsing HTML and XML documents.
from bs4 import BeautifulSoup
## Disable SSL verification
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

load_html = pd.read_html("https://www.must.ac.ke/kuccps-2019-admission-list-2/")
load_html

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

### Handling Missing Data in Pandas

In data analysis, missing data is a common issue that can significantly impact the results of your analysis. This section will cover various methods to handle missing data using Pandas, a powerful data manipulation library in Python.

### Identifying Missing Data

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
dataframe = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})
print(dataframe)

# Check for missing values
print(dataframe.isnull())

# Count of missing values per column
print(dataframe.isnull().sum())

# Total number of missing values
print(dataframe.isnull().sum().sum())

### Methods of Dealing with Missing Values

#### 1 Dropping Null Values

In [45]:
# Dropping rows with any null values
print(dataframe.dropna())

# Dropping columns with any null values
print(dataframe.dropna(axis=1))

# Dropping rows with at least 2 non-null values
print(dataframe.dropna(thresh=2))

# Dropping columns with at least 2 non-null values
print(dataframe.dropna(thresh=2, axis=1))

NameError: name 'dataframe' is not defined

#### 2 Filling Null Values with a Specified Value

In [46]:
# Filling null values with a specified value
print(dataframe.fillna(value=0.5))

NameError: name 'dataframe' is not defined

#### 3 Replacing Null Values with Mean, Median, or Mode

In [47]:
# Sample DataFrame
dataframe2 = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})

# Replace null values with the mean
dataframe2['A'].fillna(value=dataframe2['A'].mean(), inplace=True)
print(dataframe2)

# Fill null values with a specified value
dataframe2['B'].fillna(value=2, inplace=True)
print(dataframe2)

# Replace null values with the median
dataframe2['A'].fillna(value=dataframe2['A'].median(), inplace=True)
print(dataframe2)

# Replace null values with the mode
dataframe2['A'].fillna(value=dataframe2['A'].mode()[0], inplace=True)
print(dataframe2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5

/tmp/ipykernel_34444/2543355825.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe2['A'].fillna(value=dataframe2['A'].mean(), inplace=True)
/tmp/ipykernel_34444/2543355825.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe2['B'].fillna(value=2, inplace=True)
/tmp/ipykernel_34444/2543355825.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe2['A'].fillna(value=dataframe2['A'].median(), inplace=True)
/tmp/ipykernel_34444/2543355825.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe2['A'].fillna(value=dataframe2['A'].mode()[0], inplace=True)

In [48]:
>>
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5

SyntaxError: invalid syntax (1349951118.py, line 1)

#### 4 Interpolating Missing Values

In [ ]:
# Interpolating missing values linearly
print(dataframe2.interpolate())

# Interpolating missing values with a linear method
dataframe3 = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})
print(dataframe3.interpolate(method='linear', order=1))

In [ ]:
     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  3.0  6.0  9
     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  5

#### 5 Forward and Backward Filling

In [ ]:
# Forward filling (last known value)
dataframe5 = dataframe3.ffill()
print(dataframe5)

# Backward filling (next known value)
dataframe6 = dataframe3.bfill()
print(dataframe6)

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  5

# Excercices

## Exercice 1 : Creating and Modifying Series

Create a Pandas Series from a dictionary where keys are ['a', 'b', 'c'] and values are [100, 200, 300].

In [ ]:
import pandas as pd

#define the dictionary
data = {'a': 100, 'b': 200, 'c': 300}

# Create a Pandas Series from the dictionary
series = pd.Series(data)

# Print the Series
print(series)

a    100
b    200
c    300
dtype: int64

## Exercice 2 : Creating DataFrames

Create a DataFrame from the following data:

*   List item
*   List item

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Modify the code to add a new column D with values [10, 11, 12].

Drop column B from the DataFrame and display the result.

In [ ]:
columns = ['A', 'B', 'C']
data = [[1,2,3], [4,5,6], [7,8,9]]

df = pd.DataFrame(data, columns=columns)

# Add a new column 'D'
df['D'] = [10, 11, 12]

df

   A  B  C   D
0  1  2  3  10
1  4  5  6  11
2  7  8  9  12

In [ ]:
# Drop column 'B'
df = df.drop('B', axis=1)

print(df)

   A  C   D
0  1  3  10
1  4  6  11
2  7  9  12

## Exercice 3 : DataFrame Indexing and Selection

Select column B from the following DataFrame:

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Modify the code to select both columns A and C.

Select the row with index 1 using the .loc method.

In [ ]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
columns = ['A', 'B', 'C']

df = pd.DataFrame(data, columns=columns)

#  Select column B
column_b = df['B']
print(column_b)

0    2
1    5
2    8
Name: B, dtype: int64

## Exercice 4 : Adding and Removing DataFrame Elements

Add a new column Sum to the DataFrame which is the sum of columns A, B, and C.

Remove the column Sum from the DataFrame.

Add a column Random with random numbers generated using numpy.

In [ ]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
columns = ['A', 'B', 'C']

df['Sum'] = df['B'] + df['B'] + df['C']

print(df)

   A  B  C  Sum
0  1  2  3    7
1  4  5  6   16
2  7  8  9   25

In [ ]:
# Remove the column 'Sum'
df = df.drop('Sum', axis=1)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# Add a column 'Random' with random numbers
df['Random'] = np.random.rand(len(df))

print(df)

   A  B  C    Random
0  1  2  3  0.402512
1  4  5  6  0.241575
2  7  8  9  0.282397

## Exercice 5 : Merging DataFrames

Merge the following two DataFrames on the key column:

In [ ]:
left:
   key  A  B
0    1  A1  B1
1    2  A2  B2
2    3  A3  B3

right:
   key  C  D
0    1  C1  D1
1    2  C2  D2
2    3  C3  D3

SyntaxError: invalid syntax (<ipython-input-54-c9a20a204b14>, line 1)

Modify the merge to use an outer join instead of an inner join.

Add a new column E to the right DataFrame and update the merge to include this new column.

In [ ]:
left = pd.DataFrame({'key': [1, 2, 3], 'A': ['A1', 'A2', 'A3'], 'B': ['B1', 'B2', 'B3']})
right = pd.DataFrame({'key': [1, 2, 3], 'C': ['C1', 'C2', 'C3'], 'D': ['D1', 'D2', 'D3']})

# merge the two DataFrames based on the 'key' column.
merged_df = pd.merge(left, right, on='key', how='inner')

print(merged_df)

   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

In [ ]:
# Modify to use an outer join:
merged_df = pd.merge(left, right, on='key', how='outer')
merged_df

   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

In [ ]:
# Add column 'E' to the right DataFrame
right['E'] = ['E1', 'E2', 'E3']
merged_df = pd.merge(left, right, on='key', how='outer')
merged_df

   key   A   B   C   D   E
0    1  A1  B1  C1  D1  E1
1    2  A2  B2  C2  D2  E2
2    3  A3  B3  C3  D3  E3

## Exercice 6 : Data Cleaning

Replace all NaN values in the following DataFrame with the value 0:

In [ ]:
   A    B    C
0  1.0  NaN  3.0
1  NaN  5.0  6.0
2  7.0  8.0  NaN

SyntaxError: invalid syntax (<ipython-input-60-1cf422de800f>, line 1)

Modify the code to replace NaN values with the mean of the column.

Drop rows where any value is NaN.

In [ ]:
import numpy as np
import pandas as pd

data = [[1.0, np.nan, 3.0], [np.nan, 5.0, 6.0], [7.0, 8.0, np.nan]]
columns = ['A', 'B', 'C']

df = pd.DataFrame(data, columns=columns)

# Replace NaN values with the mean of the column
df = df.fillna(0)

print(df)

     A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

In [ ]:
# Replace NaN values with column means
df = df.fillna(df.mean())
df

     A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

In [ ]:
# Drop rows with any NaN values
df = df.dropna()

print(df)

     A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

## Exercice 7 : Grouping and Aggregation

Group the following DataFrame by column Category and calculate the mean of column Value:

In [ ]:
   Category  Value
0         A      1
1         B      2
2         A      3
3         B      4
4         A      5
5         B      6

Modify the code to calculate the sum instead of the mean.

Group by Category and count the number of entries in each group.

In [49]:
import pandas as pd

data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'], 
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean of 'Value'
grouped_mean = df.groupby('Category')['Value'].mean()

print(grouped_mean)

Category
A    3.0
B    4.0
Name: Value, dtype: float64

In [50]:
# Calculate the sum instead of the mean
grouped_sum = df.groupby('Category')['Value'].sum() 

print(grouped_sum)

Category
A     9
B    12
Name: Value, dtype: int64

In [ ]:
# Count the number of entries in each group
grouped_count = df.groupby('Category')['Value'].count()  

print(grouped_count)

## Exercice 8 : Pivot Tables

Create a pivot table from the following DataFrame, showing the mean Value for each Category and Type:

In [ ]:
   Category  Type  Value
0         A     X      1
1         A     Y      2
2         A     X      3
3         B     Y      4
4         B     X      5
5         B     Y      6

Modify the pivot table to show the sum of Value instead of the mean.

Add margins to the pivot table to show the total mean for each Category and Type.

In [51]:
import pandas as pd

data = {'Category': ['A', 'A', 'A', 'B', 'B', 'B'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Create a pivot table showing the mean Value
pivot_table = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean')

print(pivot_table)

Type        X    Y
Category
A         2.0  2.0
B         5.0  5.0

In [52]:
# Show the sum of Value instead of the mean
pivot_table_sum = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='sum')

print(pivot_table_sum)

Type      X   Y
Category
A         4   2
B         5  10

In [53]:
# Add margins to show total means
pivot_table_margins = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean', margins=True, margins_name='Total')
print(pivot_table_margins)

Type        X    Y  Total
Category
A         2.0  2.0    2.0
B         5.0  5.0    5.0
Total     3.0  4.0    3.5

## Exercice 9 : Time Series Data

Create a time series DataFrame with a date range starting from '2023-01-01' for 6 periods and random values.

Set the date column as the index of the DataFrame.

Resample the data to calculate the sum for each 2-day period.

In [55]:
import pandas as pd
import numpy as np

# Create a date range
date_range = pd.date_range(start='2023-01-01', periods=6)

# Create a DataFrame with random values
df = pd.DataFrame({'Value': np.random.rand(6),'date_range':date_range})

df

      Value date_range
0  0.501053 2023-01-01
1  0.521040 2023-01-02
2  0.277698 2023-01-03
3  0.710521 2023-01-04
4  0.002539 2023-01-05
5  0.222996 2023-01-06

In [56]:
# Set the date column as the index
df.set_index('date_range', inplace=True)
df

               Value
date_range
2023-01-01  0.501053
2023-01-02  0.521040
2023-01-03  0.277698
2023-01-04  0.710521
2023-01-05  0.002539
2023-01-06  0.222996

In [57]:
# Resample to calculate the sum for each 2-day period
'''We use resample('2D') to resample the data to 2-day intervals ('2D' stands for 2 days).'''
resampled_sum = df.resample('2D').sum()  

print(resampled_sum)

               Value
date_range
2023-01-01  1.022093
2023-01-03  0.988219
2023-01-05  0.225535

## Exercice 10 : Handling Missing Data

Interpolate missing values in the following DataFrame:

In [ ]:
   A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  NaN
2  NaN  8.0  9.0

Drop rows with any NaN values instead of interpolating.

In [58]:
import pandas as pd
import numpy as np

data = [[1.0, np.nan, 3.0], [2.0, 5.0, np.nan], [np.nan, 8.0, 9.0]]
columns = ['A', 'B', 'C']

df = pd.DataFrame(data, columns=columns)

# Interpolate missing values
interpolated_df = df.interpolate()

print(interpolated_df)

     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0

In [59]:
# Drop rows with any NaN values
dropped_df = df.dropna()

dropped_df

Empty DataFrame
Columns: [A, B, C]
Index: []

## Exercice 11 : DataFrame Operations

Calculate the cumulative sum of the following DataFrame:

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Calculate the cumulative product of the DataFrame.

Apply a function to subtract 1 from all elements in the DataFrame.

In [ ]:
# Apply a function to subtract 1 from all elements
subtracted_df = df.applymap(lambda x: x - 1)